@media(max-width: 768px) {
    .connect ._top ._item {
        margin-bottom: 10%;
    }
    ._bottom ._images2 .img span:last-of-type {
        display: none;
    }
    ._bottom ._images2 .img span {
        left: 0px;
        color: red
    }
    ._bottom .contant .test span:last-of-type {
        font-size: 18px;
    }
    .ideas {
        display: none;
    }
    footer .form button {
        width: 100%;
    }
    footer .form input[type='email'] {
        width: 100%;
    }
    header nav {
        padding: 0
    }
    nav .logo {
        display: none;
    }
    nav ._menu ul li {
        width: 100%;
        background: #000;
        padding: 2% 0% 2% 3%;
        border-top: 1px solid #484848;
        display: block;
        text-align: left;
        transition: 1s all;
    }
    .toggle {
        display: block;
        width: 100%;
        padding: 7px 21px;
        background: #000;
        text-align: right;
        position: relative;
        z-index: 2;
        font-size: 20px;
        margin-bottom: -1px;
    }
    header i {
        background: #000;
        color: #fff;
        cursor: pointer;
        padding: 8px 11px;
        /*        display: block;*/
        /*        border: 1px solid #383838;*/
    }
    header nav ._menu ul {
        /*        width: 100%;*/
        position: relative;
        display: none;
        text-align: -webkit-right;
        /*        top: -270px;*/
    }
    header nav li:hover {
        background: #a2ca28;
    }
    header nav ._menu a:hover {
        color: white
    }
    .container-0 {
        max-width: 100%;
        /*    margin: 0;*/
        padding: 0;
    }
}
